version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: devsecopsdb
    volumes:
      - ./db:/docker-entrypoint-initdb.d

  web:
    build: ./app
    container_name: flask-app
    restart: always
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: devsecopsdb
    depends_on:
      - db
